<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <div class="detail-bg">
    <h4>글 제목: <%= post.title %></h4>
    <h4>글 내용: <%= post.content %></h4>
    <img src="<%= post.imgUrl %>" alt="이미지">
  </div>




  <form id="login-form" class="form-box" action="/post/detail/:id/comment" method="post">     <!-- 댓글 테스트 -->

    <label for="comment">댓글</label>
    <input type="text" id="comment" name="comment">
    <button type="submit">등록</button>
  </form>

  <div class="form-box">
    <%for (let i = 0; i < comment.length; i++) { %>
      <div class="list-box"> 
        <h5>
          작성자: <%= comment[i].username %>
        </h5>
        <p>내용: <%= comment[i].comment %></p>
      </div>
      <% } %>

      댓글좀 나와봐
  </div>



  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/detail.js"></script>
</body>
</html>