<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>post</title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body class="grey-bg">

  <%- include('nav') %>



  <input type="text" class="search">
  <button type="button" class="search-btn">검색</button>

  <h4 style="margin-left: 20px;">검색 결과</h4>

  <div class="white-bg">
    <%for (let i = 0; i < posts.length; i++) { %>
    <div class="list-box"> 
      <h5>
        작성자: <%= posts[i].username %>
      </h5>
      <h4>

        <a href="/post/detail/<%= posts[i]._id %>"><%= posts[i].title %></a>

        <a href="/post/edit/<%= posts[i]._id %>">💌</a>

        <span class="delete cursor-pointer" data-id="<%= posts[i]._id %>">❌</span>
      </h4>
      <p><%= posts[i].content %></p>
    </div>
    <% } %>
  </div>


    <!-- 페이지 이동 버튼 -->
    <div class="pagination-bg">
      <% for (let i = 1; i <= numOfPage; i++) { %>
        <a href="/post/search?page=<%= i %>&keyword=<%= keyword %>" class="<%= i == currentPage ? 'active' : '' %>">
          <%= i %>
        </a>
      <% } %> 
    </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/list.js"></script>
</body>

</html>

